.patient-details {
    color: black;
  }

h5{
  color: rgb(2, 146, 2);
  font-weight: bold;
  font-style: italic;
}


h4{
    color: rgb(173, 3, 3);
    font-weight: bold;
    font-style: italic;
}
  