<!doctype html>

<html
  lang="en"
  class="light-style layout-menu-fixed layout-compact"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
  data-style="light">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Register Patients Information</title>

    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/doh.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <script src="../assets/vendor/js/helpers.js"></script>

    <script src="../assets/js/config.js"></script>
  </head>
  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a href="/patientstable" class="app-brand-link">
              <img class="app-brand-logo demo" src="../assets/img/favicon/doh.png" alt="Logo" width="50" height="50">
              <span class="app-brand-text demo menu-text fw-bold ms-2">DOH</span>
            </a>
          </div>
          <div class="menu-inner-shadow"></div>
          <ul class="menu-inner py-1">
            <li class="menu-item active open">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
                <span class="badge rounded-pill bg-danger ms-auto">5</span>
              </a>
              <ul class="menu-sub">
                <li class="menu-item active">
                  <a href="patientstable" class="menu-link">
                    <div class="text-truncate" data-i18n="patients">Patients List</div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </aside>
        <div class="layout-page">

          <nav
          class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
          id="layout-navbar">
          <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
              <i class="bx bx-menu bx-md"></i>
            </a>
          </div>

          <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
              <div class="nav-item d-flex align-items-center">
                <i class="bx bx-search bx-md"></i>
                <input
                  type="text"
                  class="form-control border-0 shadow-none ps-1 ps-sm-2"
                  placeholder="Search..."
                  aria-label="Search..." />
              </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">

              <li class="nav-item lh-1 me-4">
                <a
                  class="github-button"
                  href="https://github.com/themeselection/sneat-html-admin-template-free"
                  data-icon="octicon-star"
                  data-size="large"
                  data-show-count="true"
                  aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                  >Star</a
                >
              </li>

              <!-- User -->
              <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a
                  class="nav-link dropdown-toggle hide-arrow p-0"
                  href="javascript:void(0);"
                  data-bs-toggle="dropdown">
                  <div class="avatar avatar-online">
                    <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                  </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="#">
                      <div class="d-flex">
                        <div class="flex-shrink-0 me-3">
                          <div class="avatar avatar-online">
                            <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                          </div>
                        </div>
                        <div class="flex-grow-1">
                          <h6 class="mb-0">John Doe</h6>
                          <small class="text-muted">Admin</small>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider my-1"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="bx bx-user bx-md me-3"></i><span>My Profile</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"> <i class="bx bx-cog bx-md me-3"></i><span>Settings</span> </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <span class="d-flex align-items-center align-middle">
                        <i class="flex-shrink-0 bx bx-credit-card bx-md me-3"></i
                        ><span class="flex-grow-1 align-middle">Billing Plan</span>
                        <span class="flex-shrink-0 badge rounded-pill bg-danger">4</span>
                      </span>
                    </a>
                  </li>
                  <li>
                    <div class="dropdown-divider my-1"></div>
                  </li>
                  <li>
                    <a class="dropdown-item" href="javascript:void(0);">
                      <i class="bx bx-power-off bx-md me-3"></i><span>Log Out</span>
                    </a>
                  </li>
                </ul>
              </li>
              <!--/ User -->
            </ul>
          </div>
        </nav>

          <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-6">

                    <div class="card-body pt-4">
                      <form id="patientForm">
                        <div class="row g-6">
                          <div style="font-style: italic; font-weight: bold; color: rgb(22, 185, 27);">Personal Information:</div>
                          <hr>
                          <div class="col-md-4">
                              <label for="hospitalRecordNo" class="form-label">Hospital Record No.</label>
                              <div class="input-group">
                                  <input
                                      type="text"
                                      class="form-control"
                                      id="hospitalRecordNo"
                                      name="hospitalRecordNo"
                                      placeholder="Hosp. Record No."
                                      readonly
                                  />
                                  <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                      <i class="flex-shrink-0 bx bx-refresh"></i>
                                  </button>
                              </div>
                          </div>

                          <div class="col-md-8">
                          </div>

   
                          <div class="col-md-6">
                            <label for="firstName" class="form-label">First Name</label>
                              <div class="input-group">
                                  <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"/>
                                  <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                  </button>
                              </div>
                          </div>
            
                          <div class="col-md-6">
                            <label for="middleName" class="form-label">Middle Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Middle Name"/>
                                <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                </button>
                            </div>
                        </div>

                          <div class="col-md-6">
                            <label for="lastName" class="form-label">Last Name</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"/>
                                <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                </button>
                            </div>
                        </div>

                          <div class="col-md-6">
                            <label for="sex" class="form-label">Sex</label>
                              <div class="input-group">
                                  <select id="sex" class="form-select" name="sex">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    </select>
                                  <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                </button>
                              </div>
                          </div>

                          <div class="col-md-6">
                            <label for="status" class="form-label">Status</label>
                              <div class="input-group">
                                      <select id="status" class="form-select" name="status">
                                        <option value="Single">Single</option>
                                        <option value="Married">Married</option>
                                        <option value="Separated">Separated</option>
                                        <option value="Widow">Widow</option>
                                      </select>
                                      <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                    </button>
                              </div>
                          </div>

                          <div class="col-md-6">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                              <div class="input-group">
                                  <input type="text" class="form-control" id="phoneNumber" name="contactInfo" placeholder="202 555 0111"/>
                                  <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                  </button>
                              </div>
                          </div>

                          <div class="col-md-6">
                            <label for="birthdate" class="form-label">Date of Birth</label>
                              <div class="input-group">
                                  <input type="date" class="form-control" id="phoneNumber" name="birthdate"/>
                                  <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                  </button>
                              </div>
                          </div>

                          <div class="col-md-6">
                            <label for="religion" class="form-label">Religion</label>
                              <div class="input-group">
                                  <input type="text" class="form-control" id="religion" name="religion" placeholder="Religion"/>
                                  <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                  </button>
                              </div>
                          </div>

                          <div class="col-md-6">
                            <label for="birthPlace" class="form-label">Birth Place</label>
                             <div class="input-group">
                                  <textarea class="form-control" id="birthPlace" name="placeOfBirth" placeholder="Birth Place"></textarea>
                                  <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                  </button>
                              </div>
                          </div>

                      
                          <div style="font-style: italic; font-weight: bold; color: rgb(22, 185, 27);">Demographic Information:</div>
                          <hr>
                      
                        <div class="col-md-12">
                          <label for="presentAddress" class="form-label">Present Address</label>
                            <div class="input-group">
                                <textarea class="form-control" id="presentAddress" name="presentAddress"></textarea>
                                <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                </button>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                          <label for="presentZipCode" class="form-label">Zip Code</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="presentZipCode" name="presentZipCode" placeholder="Zipcode"/>
                                <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                </button>
                            </div>
                        </div>

                        <div class="col-md-12">
                                <input type="checkbox" id="sameAddressCheckbox">
                                <label style="font-style: italic; font-size: small;" for="sameAddressCheckbox">Check if the permanent address is the same as above.</label>
                        </div>

                        <div class="col-md-12">
                          <label for="permanentAddress" class="form-label">Permanent Address</label>
                            <div class="input-group">
                                <textarea class="form-control" id="permanentAddress" name="permanentAddress"></textarea>
                                <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                </button>
                            </div>
                        </div>

                        <div class="col-md-6">
                          <label for="permanentZipCode" class="form-label">Zip Code</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="permanentZipCode" name="permanentZipCode" placeholder="Zipcode"/>
                                <button class="btn btn-success" type="button" id="generateNewHospitalRecordNo">
                                </button>
                            </div>
                        </div>

                        <div class="mt-6">
                          <button type="submit" class="btn btn-outline-success me-3"><i class="bx bx-save bx-md"></i> Register Patient</button>
                          <button type="reset" class="btn btn-outline-danger">Cancel</button>
                        </div>
                    </div>
                  </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-backdrop fade"></div>
          </div>
        </div>
      </div>

      <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../assets/vendor/js/menu.js"></script>


    <script src="../assets/js/main.js"></script>

    <script src="../plugins/table/register.js"></script>
  </body>
</html>

